<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">My Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                    <span class="navbar-togger-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if page == 'home' %}active{% endif %}" href="{{ url_for('index') }}">
                                {% block nav_home %}
                                Home
                                {% endblock %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page == 'projects' %}active{% endif %}" href="{{ url_for('projects') }}">
                                {% block nav_projects %}
                                Projects
                                {% endblock %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page == 'contact' %}active{% endif %}" href="{{ url_for('contact') }}">
                                {% block nav_contact %}
                                Contact
                                {% endblock %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </main>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>